<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="end" (click)="closeDialog()">
      <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>add text event</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="eventForm">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col class="column-content">
          <ion-item>
            <ion-label position="floating">title</ion-label>
            <ion-input formControlName="title" [(ngModel)]="event.title"></ion-input>
            <div class="error-message" *ngIf="hasError('title')">title cannot be empty</div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">category</ion-label>
            <ion-select value="" formControlName="category" [(ngModel)]="event.category">
              <ion-select-option *ngFor="let category of availableCategories;" value="{{ category.name }}">
                {{ category.name }}
              </ion-select-option>
            </ion-select>
            <div class="error-message" *ngIf="hasError('category')">select category</div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">owner</ion-label>
            <ion-select value="" formControlName="owner" [(ngModel)]="event.owner">
              <ion-select-option *ngFor="let user of availableUsers;" value="{{ user }}">
                {{ user }}
              </ion-select-option>
            </ion-select>
            <div class="error-message" *ngIf="hasError('owner')">select owner</div>
          </ion-item>
          <icon-selector [currentIcon]="event.icon" (selectedIcon)="iconUpdated($event)"></icon-selector>
          <ion-item>
            <ion-label position="floating">content</ion-label>
            <ion-textarea rows="4" cols="20" value="" formControlName="content" [(ngModel)]="event.content"></ion-textarea>
            <div class="error-message" *ngIf="hasError('content')">content cannot be empty</div>
          </ion-item>
          <ion-item>
            <ion-label>start date</ion-label>
            <ion-datetime displayFormat="D MMM YYYY - H:mm" min="2020" max="2050" formControlName="start" [(ngModel)]="tempDateStart">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>end date</ion-label>
            <ion-datetime displayFormat="D MMM YYYY - H:mm" min="{{tempDateStart}}" max="2050" formControlName="stop" [(ngModel)]="tempDateStop">
            </ion-datetime>
          </ion-item>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col class="ion-no-padding">
                <ion-button color="primary" class="ion-text-lowercase" expand="full" (click)="addEvent()">
                  add
                </ion-button>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-button color="danger" class="ion-text-lowercase" expand="full" (click)="closeDialog()">
                  cancel
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
