ion-col.column-content {
    padding: 5px 5px;
}

div.error-message {
    color: red;
    font-size: xx-small;
    width: 100%;
    text-align: right;
    margin: 0px;
    padding: 0px;
    text-transform: lowercase;
}