<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Home page for {{ .Config.Name }}">
        <meta name="author" content="piopon.github@gmail.com">
        <title>{{ .Config.Name }}</title>
    </head>
    <body>
        <h1>{{ .Config.Name }}</h1>
        <hr>
        <h4>Build information:</h4>
        <ul>
            <li>Version: {{ .Build.API }}</li>
            <li>Golang: {{ .Build.Golang }}</li>
            <li>Build Time: {{ .Build.Time }}</li>
            <li>Commit SHA: {{ .Build.SHA }}</li>
        </ul>
        <h4>Database type:</h4>
        <ul>
            <li>{{ .Config.Server.TypeDB }}</li>
        </ul>
        <h4>MongoDB:</h4>
        <ul>
            <li>{{ .Config.MongoDB.Scheme }}{{ .Config.MongoDB.IP }}:{{ .Config.MongoDB.Port }}</li>
        </ul>
    </body>
</html>