$fullViewHeight:100vh;
$headerHeight:56px;

:host ::ng-deep {

    .table-bordered {
        height: calc(#{$fullViewHeight} - #{$headerHeight}) !important;
        max-height: calc(#{$fullViewHeight} - #{$headerHeight});
    }

    .swiper-slide-active {
        width: 100% !important;
    }

}
