<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="2" class="ion-hide-md-down"></ion-col>
        <ion-col size="1" class="ion-no-padding ion-no-margin">
          <ion-button fill="clear" class="ion-float-right" (click)="previousMonth()">
            <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" size-md="2" class="ion-no-padding ion-text-center ion-align-self-center">
          <ion-label>{{ pageData.title }}</ion-label>
        </ion-col>
        <ion-col size="1" class="ion-no-padding ion-no-margin">
          <ion-button fill="clear" class="ion-float-left" (click)="nextMonth()">
            <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col offset="3" size="1" class="ion-no-padding ion-no-margin ion-align-self-center">
          <ion-button
            size="small"
            fill="outline"
            shape="round"
            class="ion-float-right ion-text-lowercase"
            (click)="changeView()">
              {{ pageData.viewMode }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <calendar
    [autoSelect]="false"
    [showEventDetail]="false"
    [currentDate]="pageData.today"
    [eventSource]="pageData.events"
    [calendarMode]="pageData.viewMode"
    [sliderOptions]="pageData.slider"
    [monthviewDisplayEventTemplate]="month-view"
    (onTitleChanged)="onMonthChanged($event)"
    (onTimeSelected)="onTimeSelected($event)">
  </calendar>
  <ng-template #month-view let-view="view" let-row="row" let-col="col">
    {{view.dates[row*7+col].label}}
    <div>
      <div *ngFor="let event of view.dates[row*7+col].events">E</div>
    </div>
  </ng-template>
  <add-event-btn></add-event-btn>
</ion-content>
