$marginValue:10px;

ion-header {
    ion-toolbar {
        --background: var(--ion-color-primary) !important;
    }

    ion-button {
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-primary-contrast) !important;
    }

    ion-icon {
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-primary-contrast) !important;
    }

    ion-title {
        color: var(--ion-color-primary-contrast) !important;
    }
}

ion-content {
    ion-card {
        margin: #{$marginValue};
        height: calc(100% - 2*#{$marginValue});
    }

    ion-item ion-icon {
        padding-right: 10px;
    }

    ion-item.event-item {
        height: 55px;
    }

    ion-item.empty-events-list {
        --color: gray;
    }

    ion-fab {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}
