$marginValue:10px;

ion-header {
    ion-toolbar {
        --background: var(--ion-color-primary) !important;
    }

    ion-button {
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-primary-contrast) !important;
    }

    ion-icon {
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-primary-contrast) !important;
    }

    ion-title {
        color: var(--ion-color-primary-contrast) !important;
    }
}

ion-content {
    ion-card {
        margin: #{$marginValue};
        height: calc(100% - 2*#{$marginValue});
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    ion-item ion-icon {
        padding-right: 10px;
    }

    ion-item.event-item {
        --background: var(--ion-color-primary-contrast);
        height: 50px;
    }

    ion-item.event-detail {
        --background: var(--ion-color-primary-contrast);
        height: 50px;
    }

    ion-item.empty-events-list {
        --color: gray;
    }

    ion-label.event-info {
        --color: gray;
        font-size: 14px;
    }
}
