<ion-header>
  <ion-toolbar class="ion-no-padding ion-text-center ion-align-self-center">
    <ion-button fill="clear" slot="end" (click)="closeDialog()">
      <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Events on {{ dayTime | date }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <add-event class="ion-hide-md-up"></add-event>
  <ion-card>
    <ion-list-header lines="full">
      <ion-label>Todays events</ion-label>
      <ion-button disabled="{{ dayEvents.length <= 0 }}" fill="outline" size="small" color="danger" (click)="clearEvents()">
        Clear all
      </ion-button>
    </ion-list-header>
    <ion-list *ngFor="let event of dayEvents; let i = index;" lines="full">
      <ion-item tappable (click)="toggleDetails(i)" [ngClass]="{'event-detail':isDetailed(i), 'event-item':!isDetailed(i)}">
        <ion-icon slot="start" name="chevron-forward-outline" class="ion-no-margin" *ngIf="!isDetailed(i)"></ion-icon>
        <ion-icon slot="start" name="chevron-down-outline" class="ion-no-margin" *ngIf="isDetailed(i)"></ion-icon>
        <ion-icon name="{{ event.icon }}"></ion-icon>
        <ion-label class="ion-text-left">{{ event.title }}</ion-label>
        <ion-label class="ion-text-right event-info">
          {{ event.occurence.start | date:'hh:mm' }} - {{ event.occurence.stop | date:'hh:mm' }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="isDetailed(i)" text-wrap>
        <ion-grid>
          <ion-row no-padding align-items-center>
            <ion-col size="3" class="column-title">
              <ion-label class="ion-text-left">category:</ion-label>
              <ion-label class="ion-text-left">owner:</ion-label>
              <ion-label class="ion-text-left">content:</ion-label>
            </ion-col>
            <ion-col size="9" class="column-content">
              <ion-label class="ion-text-left">{{ event.category }}</ion-label>
              <ion-label class="ion-text-left">{{ event.owner }}</ion-label>
              <ion-label class="ion-text-left">{{ event.content }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-item class="empty-events-list" lines="none" *ngIf="dayEvents.length <= 0 || !dayEvents">
      <ion-label class="ion-text-center ">no events</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
