ion-item {
    --border-style: none none none solid;
    --border-width: 5px;
    --border-color: var(--ion-color-primary-contrast)
}

ion-item.active-menu-item {
    --border-color: var(--ion-color-primary);
}